.ssh
work
.astah/
.atom/
.bash_history
.bash_logout
.circleci/
.config/
.dbus/
.docker/
.elasticbeanstalk/
.gitconfig
.java/
.laradock/
.local/
.node_repl_history
.pki/
.profile
.viminfo
.wget-hsts
.xsel.log
.zshrc
archive/
docker/
etc/
install_scripts/
notebooks/
package/
sh/
tools/

